.text-border-2{
    border: none;
    border-right: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-right-width: 1px
}


.article-border{
    margin-top: 0;
    border: none;
    border-bottom: 2px solid #edf7fa;
    padding: 10px;
}

.color{
    color: #8695a4;
}

.margin-1{
    margin-left: 10px;
    margin-bottom: -10px;
}

.margin-2{
    margin-left: -10px;
}