*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    padding: 0;
    margin: 0;
}


.page-nav{
    display: flex;
    /* flex-direction: row; */
    flex-direction: row-reverse;
    justify-content: space-between;
    /* font-weight: 200px; */
    margin: 27px;
    word-spacing: 27px;
    font-weight: bold;
    /* width: 57px; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.margin-left-1{
    margin-left: -10px;
}


.text-border-2{
    border: none;
    border-right: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-right-width: 1px;
}


.my-section-top{
    display: flex;
    justify-content: center;
    gap: 90px;
    /* width: 253px; */
    /* height: 105px; */
    margin-top: 60px;
    margin-left: 74px;
}

.s-color{
    color: #8695a4;
}

.A-header{
    font-size: 30px;
}

.image{
    width: 200px;
    height: 200px;
}

.button{
    background-color: #ff6464;
    color: white;
    border: none;
    border-radius: 2px;
    width: 150px;
    height: 40px;
}

.section-2{
background-color: #edf7fa;
/* display: flex; */
margin: 60px;
width: 1152px;
height: 350px;
}

.second-nav{
    display: flex;
    justify-content: space-around;
    /* margin: 20px; */
    /* margin-right: 10px; */
    margin-bottom: 0;
    /* align-items: center; */
    width: 100%;
}

.text-move{
    margin-left: 15px;
}

.p-margin{
    /* margin-top: -10px; */
    display: flex;
    align-items: center;
    gap: 26px;
}



.article{
    display: flex;
    justify-content: center;
    margin-top: 0;
    gap: 0;
}

.article-box{
    width: 390px;
    height: 230px;
    border: 1px solid #ffff;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
}

.flex-article{
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* margin: 10px; */
    gap: 20px;
    padding: 10px;
}

.max-width-50{
    max-width: 50%;
}

.new-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 10px; */
    gap: 17px;
    /* margin-top: -20px; */
}

.article-border{
    margin-top: 0;
    border: none;
    border-bottom: 2px solid #edf7fa;
}

.year-style{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
}

.list-item{
    display: flex;
    /* margin: 10px; */
    padding: 10px;
    gap: 10px;

}

ul{
    list-style-type: none;
}

.deco{
    text-decoration: none;
    list-style-type: none;
}
/* footer{
    margin-bottom: 30px;
} */