.flex-article{
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    padding: 10px;
}

.h1{
    margin-left: 10px;
    margin-bottom: -5px;
}

.new-flex{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: -20px;
}

.article-border{
    margin-top: 0;
    border: none;
    border-bottom: 2px solid #edf7fa;
}

.year-style{
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.p-margin{
    margin-top: -10px;
}
